* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

header {
  background-color: rgba(102, 104, 105, 0.6862745098);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1001;
}
header .logo-navbar {
  width: 6rem;
}
header .item__estilo--propio, header .sub-item__estilo--propio {
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 500;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .item__estilo--propio:hover, header .sub-item__estilo--propio:hover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #e637bf;
}
header .sub-item__estilo--propio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #000;
  font-size: 1rem;
}
header .sub-item__estilo--propio .mar-der {
  margin-right: 2rem;
}

footer {
  background-color: rgba(102, 104, 105, 0.6862745098);
  height: 20rem;
  width: 100%;
  position: absolute;
  /* En el siguiente include se conloca: (propiedad,valor,propiedad1,valor1...) */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .footer__contenedor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  margin: auto;
}
footer .footer__contenedor .footer__logo {
  width: 20rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .footer__contenedor .footer__logo img {
  width: 10rem;
  padding: 0;
}
footer .footer__contenedor .footer__map .footer__map--ul {
  width: 15rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0;
  list-style-type: none;
}
footer .footer__contenedor .footer__map .footer__map--ul .footer__map--li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  margin: 0.2rem 0;
}
footer .footer__contenedor .footer__map .footer__map--ul .footer__map--li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #000;
  text-decoration: none;
  font-size: 1.5rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
footer .footer__contenedor .footer__map .footer__map--ul .footer__map--li a:hover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #e637bf;
}
footer .footer__contenedor .footer__redes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 20rem;
  padding-right: 0;
}
footer .footer__contenedor .footer__redes h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.8rem;
  font-weight: 600;
  color: #000;
  margin-bottom: 3rem;
}
footer .footer__contenedor .footer__redes .footer__redes--ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 10rem;
  padding: 0;
  margin: auto;
  list-style-type: none;
}
footer .footer__contenedor .footer__redes .footer__redes--ul img {
  width: 3rem;
  margin: 0 1rem;
  padding: 0.5rem 0.5rem;
  border: solid 0.1rem #000;
  border-radius: 40%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
footer .footer__contenedor .footer__redes .footer__redes--ul img:hover {
  background-color: #e637bf;
  cursor: pointer;
}
footer h4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  font-size: 1.3rem;
  font-weight: 100;
  color: #000;
}

.personaliza {
  height: 60rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #272727;
}
.personaliza img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40rem;
  margin: auto;
  padding-left: 3rem;
}
.personaliza .contenedor__derecho {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 50%;
  margin: auto;
  padding-right: 6rem;
}
.personaliza .contenedor__derecho h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  font-size: 5.5rem;
  font-weight: 100;
  text-align: end;
}
.personaliza .contenedor__derecho a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  color: #e637bf;
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
  border: 0.2rem solid #e637bf;
  border-radius: 2rem;
  padding: 1rem 1.5rem;
  margin-top: 5rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.personaliza .contenedor__derecho a:hover {
  background-color: #e637bf;
  color: #fff;
  cursor: pointer;
}

/* ========================================BANNER======================================== */
.banner {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(129, 20, 139, 0.479)), to(rgba(54, 25, 82, 0.685))), url(../assets/img/background.webp);
  background-image: linear-gradient(to bottom, rgba(129, 20, 139, 0.479), rgba(54, 25, 82, 0.685)), url(../assets/img/background.webp);
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}
.banner .banner__text {
  padding-left: 10rem;
  margin: auto;
}
.banner .banner__text .banner__text--title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  font-size: 8rem;
  margin-top: 5rem;
  padding-bottom: 1rem;
}
.banner .banner__text .banner__text--eslogan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  font-size: 2rem;
  margin-top: 3rem;
}
.banner .banner__text .banner__text--eslogan span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #e637bf;
  font-style: italic;
  font-weight: 600;
  padding-left: 1rem;
}
.banner .banner__text .banner__text--eslogan br {
  display: none;
}
.banner .banner__contenedor {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}
.banner .banner__contenedor .banner__img {
  width: 35rem;
  margin-top: 6rem;
}

/* ========================================CARRUSEL========================================*/
.carrusel {
  margin-bottom: 3rem;
}
.carrusel .d-item {
  height: 60rem;
}
.carrusel .carousel-item img {
  max-width: 90%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/*  ========================================PROYECTOS======================================== */
.proyecto__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  font-size: 3rem;
  display: block;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 30rem;
  width: 20rem;
  border-radius: 1.5rem;
  -webkit-box-shadow: 0 0.2rem 0.4rem 0;
          box-shadow: 0 0.2rem 0.4rem 0;
  margin: auto;
}
.card img {
  height: 70%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1.5rem 1.5rem 0 0;
}
.card .card__pie {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.card .card__pie .card__title {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 1rem 0;
  text-align: center;
}
.card .card__pie p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  font-size: 1rem;
  padding: 0 1rem;
  margin-bottom: 1rem;
}

.proyectos {
  background-color: #fff;
  padding-bottom: 5rem;
  height: 40rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* ANIMACIONES: */
}
.proyectos .card_proyectos {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  /* ANIMACIONES: */
}
.proyectos .card_proyectos h3 {
  display: none;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  height: 100%;
  width: 100%;
  font-size: 100%;
  color: #fff;
  font-weight: 600;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.proyectos .card_proyectos h3 br {
  display: none;
}
.proyectos .card_proyectos img {
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.proyectos .card_proyectos .card__pie {
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}
.proyectos .card_proyectos:hover img {
  display: none;
}
.proyectos .card_proyectos:hover .card__pie {
  display: none;
}
.proyectos .card_proyectos:hover h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
.proyectos .egresaditos:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(66, 66, 66, 0.479)), to(rgba(37, 37, 37, 0.76))), url(../assets/img/egresaditos.webp);
  background-image: linear-gradient(to bottom, rgba(66, 66, 66, 0.479), rgba(37, 37, 37, 0.76)), url(../assets/img/egresaditos.webp);
  background-size: cover;
  background-position: center;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.proyectos .yoga:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(66, 66, 66, 0.479)), to(rgba(37, 37, 37, 0.76))), url(../assets/img/yoga.webp);
  background-image: linear-gradient(to bottom, rgba(66, 66, 66, 0.479), rgba(37, 37, 37, 0.76)), url(../assets/img/yoga.webp);
  background-size: cover;
  background-position: center;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.proyectos .emprendimiento:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(66, 66, 66, 0.479)), to(rgba(37, 37, 37, 0.76))), url(../assets/img/Emprendimientos.webp);
  background-image: linear-gradient(to bottom, rgba(66, 66, 66, 0.479), rgba(37, 37, 37, 0.76)), url(../assets/img/Emprendimientos.webp);
  background-size: cover;
  background-position: center;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.proyectos .personal_trainer:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(66, 66, 66, 0.479)), to(rgba(37, 37, 37, 0.76))), url(../assets/img/Entrenamiento.webp);
  background-image: linear-gradient(to bottom, rgba(66, 66, 66, 0.479), rgba(37, 37, 37, 0.76)), url(../assets/img/Entrenamiento.webp);
  background-size: cover;
  background-position: center;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.ventas {
  height: auto;
  width: 100%;
  padding-top: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.ventas .ventas__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 2rem;
}
.ventas .ventas__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.5rem;
  font-weight: 300;
  text-align: center;
  margin: 3rem;
}
.ventas .contenedor__card__ventas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 100%;
}
.ventas .contenedor__card__ventas .carta__producto {
  margin: 2rem 4.2%;
}
.ventas .contenedor__card__ventas .carta__producto .card__pie {
  height: 100%;
}
.ventas .contenedor__card__ventas .carta__producto .card__pie .boton {
  border: 0.8rem solid #020381;
  border-radius: 2rem;
  background-color: #020381;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1rem;
  text-decoration: none;
  color: #fff;
}
.ventas .boton__ventas {
  display: inline;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 1rem;
  margin-bottom: 2rem;
  background-color: #cfcccc;
  border-radius: 1rem;
}