* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

footer {
  background-color: rgba(102, 104, 105, 0.6862745098);
  height: 20rem;
  width: 100%;
  position: absolute;
  /* En el siguiente include se conloca: (propiedad,valor,propiedad1,valor1...) */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .footer__contenedor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  margin: auto;
}
footer .footer__contenedor .footer__logo {
  width: 20rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .footer__contenedor .footer__logo img {
  width: 10rem;
  padding: 0;
}
footer .footer__contenedor .footer__map .footer__map--ul {
  width: 15rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0;
  list-style-type: none;
}
footer .footer__contenedor .footer__map .footer__map--ul .footer__map--li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  margin: 0.2rem 0;
}
footer .footer__contenedor .footer__map .footer__map--ul .footer__map--li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #000;
  text-decoration: none;
  font-size: 1.5rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
footer .footer__contenedor .footer__map .footer__map--ul .footer__map--li a:hover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #e637bf;
}
footer .footer__contenedor .footer__redes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 20rem;
  padding-right: 0;
}
footer .footer__contenedor .footer__redes h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 3rem;
}
footer .footer__contenedor .footer__redes .footer__redes--ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 10rem;
  padding: 0;
  margin: auto;
  list-style-type: none;
}
footer .footer__contenedor .footer__redes .footer__redes--ul img {
  width: 3rem;
  margin: 0 1rem;
  padding: 0.5rem 0.5rem;
  border: solid 0.1rem black;
  border-radius: 40%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
footer .footer__contenedor .footer__redes .footer__redes--ul img:hover {
  background-color: #e637bf;
  cursor: pointer;
}
footer h4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  font-size: 1.3rem;
  font-weight: 100;
}