$color_contraste: #e637bf;
$gris_contraste:  #666869;
$color_nav_foot: #666869af;
$color_text_foot:#000;
$color_text_nav:#fff;
$tamanio-titulos:3rem;
$ancho_maximo: 100%;
$altura_maxima: 100%;
$velocidad_cambio_color: .3s;
$separacion_text-navbar: 10rem;
$tamanio_form_text: 1.2rem;