.ventas{
    @include tamaños($ancho_maximo,auto);
    padding-top: $separacion_text-navbar;
    @include flex-dis(flex-direction,column,align-items,center);

    .ventas__title{
        @include text-estilo(font-size,$tamanio-titulos,font-weight,600);
        margin-bottom: 2rem;
    }
    .ventas__text{
        @include text-estilo(font-size,1.5rem,font-weight,300,text-align,center);
        margin: 3rem;
    }
    .contenedor__card__ventas{
        @include flex-dis(flex-wrap,wrap,align-items,center,justify-content,center);
        @include tamaños($ancho_maximo,$altura_maxima);

        .carta__producto {
            margin: 2rem 5.1%;
            .card__pie{
                height: $altura_maxima;
                justify-content: space-between;
                .nombre-producto{

                    @include text-estilo(font-size,1.2rem,font-style,italic,text-align,center);
                    margin: 0;
                    padding: 0 1rem;
                    padding-top:1.5rem;
                }
                
                .seccion__pie{
                    height:100%;
                    justify-content: center;
                    align-items: center;
                    margin-top: .5rem;
                    @include flex-dis(justify-content,space-between,align-items,center);
                    padding-bottom: 1rem;
                    .card__title{
                        margin-right: 1rem;
                    }
                    .boton{
                        margin-left: 1rem;
                        border: 0.8rem solid #020381;
                        border-radius: .7rem;
                        background-color: #020381;
                        @include text-estilo(font-size,1rem,text-decoration,none,color, #fff);
                        transition: $velocidad_cambio_color all;
                        .aparece{
                            display: none;
                            transition: $velocidad_cambio_color all;
                            img{
                                @include tamaños(2rem,auto);
                                margin-right:.25rem ;
                            }
                        }
                        &:hover{
                            background-color: $color-contraste;
                            border: $color-contraste;
                            border-radius: 35%;
                            .aparece{
                                display: block;
                                padding: .5rem .8rem;
                                
                                
                            }
                            .desaparece{
                                display: none;
                            }
                        }
                    }

                }
            }
        }
    }
    .boton__ventas {
        display: inline;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 1rem;
        margin-bottom: 2rem;
        background-color: #cfcccc;
        border-radius: 1rem;
    }
}

.ventas__buzos{
    padding-top: 6rem;
}
