.formulario{
    width: 100%;
    height: 60rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.formulario h2{
    font-size: 3rem;
    font-weight: 600;
    margin: 3rem;
    text-align: center;
}
.formulario form{
    background-color: #706f6f;
    border-radius: 2rem;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem; 
}
.form__conjunto{
    width: 100%;
    display: flex;
    align-items: center;
    margin: 2rem 0;
    justify-content: space-between;
}
.form__conjunto .form__izq label{
    color: #fff;
    font-size: 1.2rem;
    margin: 0 1rem 0 2rem;
}
.form__conjunto .form__izq input{
    width: 10rem;
    height: 1.7rem;
    border-radius: 2rem;
    border: none;
    padding: 0 1rem;
    font-size: 1Srem;
    font-weight: 300;
    text-align: left;
}
.form__conjunto .form__der label{
    color: #fff;
    font-size: 1.2rem;
    margin: 0 1rem 0 2rem;
}
.form__conjunto .form__der input{
    width: 10rem;
    height: 1.7rem;
    border-radius: 2rem;
    border: none;
    padding: 0 1rem;
    font-size: 1rem;
    font-weight: 300;
    text-align: left;
    margin-right: 2rem;
}
.form__izq select {
    width: 10rem;
    height: 1.7rem;
    border-radius: 2rem;
    border: none;
    padding: 0 1rem;
    font-size: 0.8rem;
    font-weight: 300;
    text-align: left;
    margin-right: 2rem;
}
.form__izq .form__talle{
    width: 5rem;
    height: 1.7rem;
    border-radius: 2rem;
    border: none;
    padding: 0 1rem;
    font-size: 0.8rem;
    font-weight: 300;
    text-align: left;
    margin-left: 2rem;
    margin-right: 1rem;
    margin-top: 0.8rem;
}
.form__comentario{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 0;
    justify-content: space-between;
}
.form__comentario label{
    color: #fff;
    font-size: 1.2rem;
    margin: 0 0 1rem 0 ;
}
.conjunto__abajo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.form__abajo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form__abajo select {
    width: 10rem;
    height: 1.7rem;
    border-radius: 2rem;
    border: none;
    color: #706f6f ;
    padding: 0 1rem;
    font-size: 1rem;
    font-weight: 300;
    text-align: center;
}
.talle select{
    width: 5rem;
    margin: 0 11.5rem;
}
.form__abajo label{
    color: #fff;
    font-size: 1.2rem;
}
.form__abajo--input{
    width: 10rem;
    height: 1.7rem;
    border-radius: 2rem;
    border: none;
    font-size: 1rem;
    font-weight: 300;
    color: #000000;
    text-align: center;
    padding: 0 1rem;
}

.submit--input{
    text-decoration: none;
    color: #000000;
    font-size: 1rem;
    font-weight: 600;
    border: 0.1rem solid #000000;
    border-radius: 2rem;
    padding: .8rem 1rem;
}

.form__comentario textarea{
    width: 80%;
    height: 10rem;
    border-radius: 2rem;
    border: none;
    padding: 1rem;
    font-size: 1rem;
    font-weight: 300;
    text-align: left;
    margin: 0 0 2rem 0;
    resize: none;
}
