@media screen and (max-width: 1400px) {
    /* ===================BANNER=============== */
    .banner{
        .banner__text{
            padding-left: 6rem;
            margin: auto;

            .banner__text--title {
                font-size: 6rem;
                padding-bottom: 1rem;
                margin-top: 8rem;
            }

            .banner__text--eslogan {
                margin-top: 3rem;
                font-size: 1.5rem;
            }
        }
        .banner__contenedor {
            .banner__img {
                width: 20rem;
            }
        }
    }
    /* ==== CARRUSEL==== */
    .carrusel{
        .d-item {
            height: 35rem;
        }
    }
    /*  ========================================PROYECTOS======================================== */
    .card{
        @include tamaños(18rem, 28rem);
        margin: 3rem;
    }
    .proyecto__title{
        margin-bottom: 1.5rem;
    }
    .proyectos {
        @include tamaños($ancho_maximo,auto);
        padding: 0 5rem;
        padding-bottom: 1rem;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: min-content min-content;
        grid-template-areas:
            "proyecto1 proyecto2"
            "proyecto3 proyecto4"
        ;
        align-items: center;
        justify-items: center;
        .egresaditos {
            grid-area: proyecto1;
        }
        .personal_trainer {
            grid-area: proyecto2;
        }
        .emprendimiento {
            grid-area: proyecto4;
        }
        .yoga {
            grid-area: proyecto3;
        }
    }
    /* ========================Ventas======================== */
    .ventas{
        .contenedor__card__ventas{
            .carta__producto {
                margin: 3rem;
            }
        }
    }
     /* ========================Personaliza======================== */
    .personaliza{
        @include tamaños($ancho_maximo,auto);
        padding: 7rem 2rem;
        img{
            width: 20rem;
            padding-left: 1rem;
        }
        .contenedor__derecho {
            width: 60%;
            padding-right: 1rem;

            h2{
                font-size: 4rem;
                text-align: end;
                margin-bottom: 3rem;
            }
        }
    }
    /*======================================== CLIENTES FELICES ========================================*/

    .clientes_felices{
        .clientes_felices__title {
            font-size: 5.5rem;
            margin-bottom: 4rem;
            padding: 0rem 2rem;
        }
        .clientes_felices__text {
            font-size: 1.5rem;
            padding: 0rem 2rem;
        }
    }
    .comentarios_clientes{
        padding: 2rem;
        .comentario{
            width: 100%;
            p{
                font-size: 1rem;
                padding: 0;
                
                span{
                    font-size: 1.3rem;
                }
            }
            img{
                width: 15rem;
                margin: 0;
            }
            .yoga{
                margin-left: 0;
            }
        }
    }
    /* ==== EQUIPO==== */
    .equipo{
        height: auto;
        .card_equipo{
            margin:2rem;
        }
    }
    /* ==== NUESTRO TALLER==== */
    .nuestro_taller{
        .nuestro_taller__title{
            margin-top: 5rem;
        }
        .nuestro_taller__text {
            padding: 0 8rem;
        }
        .nuestro_taller__cierre{
            padding: 0 8rem;
        }
        .nuestro_taller__boton{
            margin-bottom: 5rem;
        }
    }
    /* ====MAPA==== */
    .mapa{
        iframe{
            @include tamaños(80%,40rem);
            margin: 2rem;
        }
    }

    /* ====FORMULARIO==== */
    .formulario {
        height: auto;
        margin-bottom: 3rem;
        form {
            width: 80%;
            padding: 2.5rem;
    
            .form__conjunto {
                .conjunto {
                    width: 40%;
                    font-size: 1rem;
                    align-items: center;

                    input {
                        width: 100%;
                        font-size: .8rem;
                        text-align: center;
                        margin: 1rem 0;
                        padding: 0;
                    }
                }
            }
    
            .form__conjunto--triple {
                width: 100%;
                .conjunto__triple {
                    width: 50%;
                    font-size: 1rem;

                    select {
                        width: 100%;
                    }
                    input {
                        width: 100%;
                    }
                }
    
                .talle select {
                    width: 40%;
                }
            }
            .boton2 {
                padding-top: 1rem;
                input {
                    font-size: 1rem;
                    padding: .4rem .6rem;

                }
            }
        }
    }
    /* ====404==== */
    .page__404{
        
    
            img{
                height: 35%;
            }
    
            .texto__404{
                @include tamaños($ancho_maximo,65%);
                h1{
                    font-size: 10rem;
                }
    
        }
    }
}